body {
  background-color: var(--white-grey);
}

.wallpaper {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.left-side, .right-side {
  position: absolute;
  top: 20%;
  width: 50%;
  display: flex;
  align-items: center;
}

.left-side {
  left: 3rem;
  text-align: left;
  justify-content: flex-start;
  animation: 0.6s ease-out 0.4s 1 slideInFromLeft;
}

.right-side {
  right: 3rem;
  text-align: right;
  justify-content: flex-end;
  animation: 0.6s ease-out 0.4s 1 slideInFromRight;
}

.line-left {
  width: 3px;
  height: 24rem;
  background-color: var(--blue);
  margin: 0 1.5rem;
}

.line-right {
  width: 3px;
  height: 24rem;
  background-color: var(--dark-blue);
  margin: 0 1.5rem;
}

.h1-left {
  font-size: xxx-large;
  font-weight: bold;
  padding-bottom: 1rem;
  color: var(--dark-blue);
  line-height: 3.5rem;
}

.h1-right {
  font-size: xxx-large;
  font-weight: bold;
  padding-bottom: 1rem;
  color: var(--blue);
  line-height: 3.5rem;
}

.text-left p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--dark-blue);
  line-height: 1.5rem;
}

.text-right p {
  font-size: 1.5rem;
  font-weight: lighter;
  color: var(--blue);
  line-height: 1.5rem;
}

.button-left {
  margin-top: 2rem;
  height: 5.0vh;
  width: 20.0vh;
  background-color: var(--dark-blue);
  color: white;
}

.button-right {
  margin-top: 2rem;
  height: 5.0vh;
  width: 20.0vh;
  background-color: var(--blue);
  color: white;
}

.button-left:hover {
  background-color: var(--blue);
  color: var(--dark-blue);
}

.button-right:hover {
  background-color: var(--dark-blue);
  color: white;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


.course-item {
  position: relative;
}

.course-item-link:hover .course-item .course-info {
  background-color: rgba(5, 55, 65, 0.85);
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.course-image {
  height: 26rem;
  display: block;
}

.course-info {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 70%;
  background-color: white;
  color: rgba(5, 55, 65, 0.80);
  padding: 1rem;
}

.course-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.course-price {
  font-size: 0.8rem;
  font-weight: bold;
  color: #94dc94;
}

.carousel-courses {
  margin: 0 8rem;
  max-width: calc(100% - 16rem);
}

.learn-more {
  margin-top: -1.5rem;
  margin-left: 13rem;
  position: absolute;
  font-size: 0.8rem;
}
