<app-client-navbar></app-client-navbar>
<img class="wallpaper" src="assets/images/client/overlay/Main-Wallpaper.jpg" alt="Wallpaper">

<div class="on-background">
  <div class="left-side">
    <div class="line-left"></div>
    <div class="text-left">
      <h1 class="h1-left">Kursy<br> żeglarskie</h1>
      <p>Otrzymaj<br>patent żeglarski</p>
      <button type="button" class="btn btn-info button-left">Kursy</button>
    </div>
  </div>
  <div class="right-side">
    <div class="text-right">
      <h1 class="h1-right">Organizacja<br> rejsów</h1>
      <p>Przeżyj<br>niesamowite chwile</p>
      <button type="button" class="btn btn-info button-right">Eventy</button>
    </div>
    <div class="line-right"></div>
  </div>
</div>
