<div class="error-page-container">
  <div class="error-message-container">
    <div class="error-top">
      <img src="assets/logos/LOGO-FULL.png" alt="Water Adventure Logo" class="error-logo" />
    </div>
    <div class="error-middle">
      <h1 class="error-status">ERROR 404</h1>
      <hr class="error-separator"/>
      <h2 class="error-title">Nie odnaleziono takiej strony</h2>
      <p class="error-description">Przepraszamy!</p>
    </div>
    <div class="error-bottom">
      <a href="/" class="error-back-link">
        <i class="fas fa-arrow-left"></i> Powrót do strony głównej
      </a>
    </div>
  </div>
  <div class="error-image-container">
    <img src="assets/images/client/additional/tim-gouw-exxNNGUWOb0-unsplash.jpg" alt="Error Wallpaper" class="error-wallpaper" />
  </div>
</div>
