.error-page-container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.error-message-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  transition: background-color 0.3s;
  animation: 0.6s ease-out 0.4s 1 slideInFromLeft;
}

.error-message-container:hover {
  background-color: var(--white-grey);
}

.error-top {
  padding: 3rem;
}

.error-middle {
  padding: 3rem;
  margin-top: 5rem;
  flex-grow: 1;
}

.error-bottom {
  padding: 3rem;
  text-align: center;
}

.error-logo {
  max-width: 100%;
  height: auto;
}

.error-status {
  color: #656565;
  font-size: 1.5rem;
}

.error-separator {
  width: 50%;
  border: none;
  height: 1px;
  background-color: var(--dark-blue);
  margin: 2rem 0;
}

.error-title {
  font-size: 2rem;
  color: var(--dark-blue);
  font-weight: bold;
}

.error-description {
  color: var(--blue);
  font-size: 1.2rem;
}

.error-back-link {
  text-decoration: none;
  color: var(--blue);
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.error-back-link i {
  margin-right: 0.5rem;
}

.error-image-container img {
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-size: cover;
}

@media (max-width: 1000px) {
  .error-page-container {
    flex-direction: column;
  }
  .error-message-container,
  .error-image-container {
    width: 100%;
  }
  .error-middle {
    margin-top: 0;
  }
}
