<div class="content">

  <div class="container d-flex flex-column justify-content-between justify-content-md-between">

    <div class="row justify-content-center">
      <div class="col-xl-8 d-flex justify-content-center align-items-center">
        <text-icon [text]="'Dostępy'"
                   [iconClass]="'pi pi-plus-circle'"
                   [fontSize]="'3em'">
        </text-icon>
      </div>
      <p-divider></p-divider>
    </div>

    <div class="row mt-2 align-items-center">

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Nazwisko kursanta</label>
        <input [(ngModel)]="participantLastName"
               type="text"
               class="form-control"
               id="cost"
               placeholder="Nowak">
      </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Email kursanta</label>
        <input [(ngModel)]="participantEmail"
               type="text"
               class="form-control"
               id="email"
               placeholder="nowak@gmail.pl">
      </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Numer telefonu:</label>
        <input [(ngModel)]="participantPhoneNumber"
               type="text"
               class="form-control"
               id="phoneNumber"
               placeholder="505404606">
      </div>

      <div [formGroup]="dateFormGroup" class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Data rozpoczęcia kursu</label>
        <p-calendar
          formControlName="dateFrom"
          [dateFormat]="'dd.mm.yy'"
          [showIcon]="true"
          [placeholder]="'01.01.2024'">
        </p-calendar>
      </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Sortowanie po:</label>
        <p-dropdown
          [options]="sortByValues"
          [(ngModel)]="sortBy"
          optionLabel="name"
          placeholder="Sortowanie"
          [showClear]="true">
        </p-dropdown>
      </div>

    </div>

    <div class="row mt-5 justify-content-end align-items-center">

      <div class="col-sm-2 d-flex justify-content-end custom-justify-start pe-2">
        <primary-button [label]="'Wyszukaj'" (onClick)="findAccesses()"></primary-button>
      </div>

      <div class="col-sm-2 d-flex justify-content-start ps-2">
        <secondary-button [label]="'Dostępy'" (onClick)="openAccessesModal()"></secondary-button>
      </div>

    </div>

  </div>

  <p-table
    [value]="accessesList"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    currentPageReportTemplate="{first} Wyników z {totalRecords}"
    styleClass="p-datatable-gridlines p-datatable-resizable"
    [tableStyle]="{'width': '100%' }"
    [rowHover]="true"
    [resizableColumns]="true"
    [scrollable]="true"
    scrollHeight="500px"
    class="sticky-to-bottom mt-5"
    [(selection)]="selectedAccesses">
    <!--    obczaic selectedSize-->

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 4rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th>Imie i nazwisko kursanta</th>
        <th>Email kursanta</th>
        <th>Numer telefonu</th>
        <th>Rodzaj kursu</th>
        <th>Data rozpoczęcia kursu</th>
        <th>Data zakończenia kursu</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-access>
      <tr>
        <td class="d-flex justify-content-center">
          <p-tableCheckbox [value]="access"></p-tableCheckbox>
        </td>
        <td>{{access.participantFirstName + " " + access.participantLastName}}</td>
        <td>{{access.participantEmail}}</td>
        <td>{{access.participantPhoneNumber}}</td>
        <td>{{access.courseType | courseType}}</td>
        <td>{{access.dateFrom | date:'yyyy-MM-dd HH:mm'}}</td>
        <td>{{access.dateTo | date:'yyyy-MM-dd HH:mm'}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>

<!--edit passing modal-->

<p-dialog
  [(visible)]="showAccessesModal"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '30rem'}"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [contentStyle]="{maxheight: '80%'}"
  (onHide)="closeAccessesModal()"
>

  <ng-template pTemplate="header">
    <text-icon
      [text]="'Edytuj dostępy'"
      [textVisible]="true"
      [iconClass]="'pi pi-plus-circle'">
    </text-icon>
  </ng-template>

  <div class="container d-flex flex-column pt-3 justify-content-between" >
    <div class="row d-flex flex-column">

      <label class="form-label text-center">Przyznaj lub zabierz dostęp do nauki dla kursantów:</label>
      <div *ngFor="let access of selectedAccesses" class="col-md-3 mb-3 d-flex flex-column align-items-center w-100">
        <input
          type="text"
          class="form-control text-center"
          [disabled]="true"
          id="participant"
          placeholder="{{access.participantFirstName + ' ' + access.participantLastName}}">
      </div>


    </div>

    <div class="row mt-2">
      <div class="col-xl-6 d-flex justify-content-between">
        <primary-button
          [label]="'Przyznaj'"
          (onClick)="passAccess()">
        </primary-button>
      </div>
      <div class="col-xl-6 d-flex justify-content-between">
        <danger-button
          [label]="'Odbierz dostęp'"
          (onClick)="unPassAccess()">
        </danger-button>
        <secondary-button
          [label]="'Anuluj'"
          (onClick)="closeAccessesModal()"
          [bordered]="true">
        </secondary-button>
      </div>

    </div>
  </div>

</p-dialog>
