.course-detail-container {
  background-color: white;
  margin: 8rem auto auto 8rem;
  display: flex;
  max-width: 80%;
}

.course-main {
  margin-top: 1.2rem;
  margin-left: 1.2rem;
  background-color: rgba(230, 240, 240, 0.40);
  flex: 3;
  max-width: 60%;
  padding: 2rem;
  transition: background-color 0.3s;
}

.course-main:hover {
  background-color: white;
}

.course-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1rem;
}

.course-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.3s;
}

.course-description {
  margin-bottom: 20px;
}

.course-terms {
  width: 100%;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  background-color: rgba(170, 225, 255, 0.60);
  padding: 0.5rem 0.5rem;
  color: var(--dark-blue);
  border: solid #272727;
  border-width: 0 0 1.6px 0;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  padding: 0.6rem 0.6rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
  cursor: pointer;
}

/* Style for selected(highlighted) row (primeNG after clickin on row creates a new p-highlight class) */
:host ::ng-deep .p-datatable .p-datatable-tbody > tr.p-highlight {
  border: 1px solid var(--blue);
  background-color: var(--white-grey);
  color: var(--dark-blue);
}

.orange-text {
  color: #ffbe46;
}

.red-text {
  color: #ff5454;
}

.green-text {
  color: #31e76c;
}

.course-info-aside {
  flex: 1;
  padding: 20px;
}

.course-info-aside > div {
  margin-top: 2rem;
  background-color: rgba(230, 240, 240, 0.40);
  border-top: 3px solid var(--dark-blue);
  margin-bottom: 4rem;
  transition: background-color 0.3s;
}

.course-info-aside > div:hover {
  background-color: white;
}

.course-meta-info {
  background-color: #f2f2f2;
  padding: 1rem 2rem 2rem;
}

.course-meta-info h2 {
  text-align: center;
}

.course-price {
  font-size: 20px;
  margin-bottom: 10px;
}

.course-enroll-info {
  border-top: 3px solid var(--dark-blue);
  background-color: #f2f2f2;
  padding: 3rem;
  text-align: center;
  transition: background-color 0.3s;
}

.course-enroll-info h3{
  color: #ff6666;
}

.course-enroll-info:hover {
  background-color: white;
}

:host ::ng-deep .enroll-btn {
  border-radius: 1%;
  background-color: var(--blue);
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

:host ::ng-deep .enroll-btn-disabled {
  border-radius: 1%;
  background-color: var(--blue);
  opacity: 0.4;
  color: white;
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal-actions {
  display: flex;
  justify-content: center;
  padding: 1em;
  gap: 10px;
}

.custom-p-button {
  border-radius: 1rem;
  padding: 0.4rem 1.5rem;
}

.custom-p-button.p-button-rounded.p-button-primary {
  background-color: var(--blue);
  transition: background-color 0.3s;
  border: none;
  color: white;
}

.custom-p-button.p-button-rounded.p-button-primary:hover {
  background-color: #147ab2;
}

.custom-p-button.p-button-rounded.p-button-outlined.p-button-secondary {
  transition: background-color 0.3s;
}

.custom-p-button.p-button-rounded.p-button-outlined.p-button-secondary:hover {
  background-color: #989898;
  color: white;
}

@media (max-width: 768px) {
  .course-detail-container {
    flex-direction: column;
    max-width: 100%;
    margin: 6rem auto auto auto;
  }

  .course-main {
    background-color: rgba(230, 240, 240, 0.40);
    margin: auto auto auto auto;
    max-width: 100%;
  }

  .course-main, .course-sidebar {
    width: 100%;
  }

  .course-title {
    text-align: start;
  }

  .course-image {
    height: 10rem;
    width: auto;
  }
}
