.user-profile-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.user-stats, .user-edit-form {
  flex-basis: 48%;
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
}
