<app-client-navbar></app-client-navbar>
<div class="user-profile-container">
  <div class="user-stats">
    <h1>Witaj Igor!</h1>
    <h2>Twoje konto</h2>
    <p>Jesteś z nami łącznie: <strong>52 dni 4 h 32 m</strong></p>
    <p>Liczba wykupionych kursów: <strong>5</strong></p>
    <p>Liczba zaliczonych egzaminów: <strong>3</strong></p>
    <p>Coś jeszcze nie wiem co: <strong>21</strong></p>
  </div>

  <div class="user-edit-form">
    <h2>Edytuj swoje dane</h2>
    <form [formGroup]="formGroup">
      <mat-form-field>
        <mat-label>Imię i nazwisko</mat-label>
        <input matInput formControlName="fullName">
      </mat-form-field>

      <mat-form-field>
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Hasło</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Numer telefonu</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="submitForm()">Zapisz zmiany</button>
    </form>
  </div>
</div>
<app-client-footer></app-client-footer>
