<div class="content">

  <div class="container d-flex flex-column justify-content-between justify-content-md-between">

    <div class="row justify-content-center">
      <div class="col-xl-8 d-flex justify-content-center align-items-center">
        <text-icon [text]="'Lista kursów'"
                   [iconClass]="'pi pi-check-square'"
                   [fontSize]="'3em'">
        </text-icon>
      </div>
      <p-divider></p-divider>
    </div>

    <div class="row mt-2 align-items-center">

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Rodzaj kursu:</label>
        <p-dropdown
          [options]="courseTypes"
          [(ngModel)]="courseType"
          optionLabel="value"
          placeholder="Sternik motorowodny"
          [showClear]="true">
        </p-dropdown>
      </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Status kursu:</label>
        <p-dropdown
          [options]="courseStatuses"
          [(ngModel)]="courseStatus"
          optionLabel="value"
          placeholder="Rozpoczęty"
          [showClear]="true">
        </p-dropdown>
      </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Miasto:</label>
        <p-dropdown
          [options]="courseCities"
          [(ngModel)]="courseCity"
          optionLabel="value"
          placeholder="Olecko"
          [showClear]="true">
        </p-dropdown>
      </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Zapisanych kursantów</label>
        <input [(ngModel)]="registeredParticipants" type="text" class="form-control" id="participantNumber" placeholder="5">
      </div>

    </div>

    <div class="row mt-2 align-items-center">

      <div [formGroup]="dateFormGroup" class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Data rozpoczęcia</label>
        <p-calendar
          formControlName="startDate"
          [dateFormat]="'dd.mm.yy'"
          (onSelect)="setStartDate($event)"
          [showIcon]="true"
          [placeholder]="'01.01.2024'">
        </p-calendar>
      </div>

      <div [formGroup]="dateFormGroup" class="col-md-3 mb-3 d-flex flex-column align-items-center">
          <label class="form-label">Data Zakończenia</label>
          <p-calendar
            formControlName="endDate"
            [dateFormat]="'dd.mm.yy'"
            (onSelect)="setEndDate($event)"
            [showIcon]="true"
            [placeholder]="'01.01.2024'">
          </p-calendar>
        </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Limit kursantów</label>
        <input [(ngModel)]="maxParticipantsNumber" type="text" class="form-control" id="participantMaxNumber" placeholder="15">
      </div>

      <div class="col-md-3 mb-3 d-flex flex-column align-items-center">
        <label class="form-label">Sortowanie po:</label>
        <p-dropdown
          [options]="sortByValues"
          [(ngModel)]="sortBy"
          optionLabel="name"
          placeholder="Sortowanie"
          [showClear]="true">
        </p-dropdown>
      </div>

    </div>

    <div class="row mt-5 justify-content-end align-items-center">

      <div class="col-sm-2 d-flex justify-content-end custom-justify-start pe-2">
        <primary-button [label]="'Wyszukaj'" (onClick)="findCourses()"></primary-button>
      </div>

      <div class="col-sm-2 d-flex justify-content-start ps-2">
        <secondary-button [label]="'Dodaj pytanie'" (onClick)="doNothing()"></secondary-button>
      </div>

    </div>

  </div>

  <p-table
    [value]="coursesList"
    [paginator]="true"
    [rows]="5"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[5, 10, 15]"
    currentPageReportTemplate="{first} Kursów z {totalRecords}"
    styleClass="p-datatable-gridlines p-datatable-resizable"
    [tableStyle]="{'width': '100%' }"
    [rowHover]="true"
    [resizableColumns]="true"
    [scrollable]="true"
    scrollHeight="500px"
    class="sticky-to-bottom mt-5">

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th>Rodzaj kursu</th>
        <th>Status kursu</th>
        <th>Miasto</th>
        <th>Data rozpoczęcia</th>
        <th>Data zakończenia</th>
        <th>Zapisanych kursantów</th>
        <th>Limit kursantów</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
      <tr>
        <td class="d-flex justify-content-center">
<!--          <text-icon-->
<!--            [textVisible]="false"-->
<!--            [isClickable]="true"-->
<!--            [iconClass]="'pi pi-pencil'"-->
<!--            (onClick)="insertDataIntoEditQuestionModal(question)"-->
<!--          ></text-icon>-->
        </td>
        <td>{{course.courseType }}</td>
        <td>{{course.courseStatus }}</td>
        <td>{{course.city  }}</td>
        <td>{{course.dateFrom}}</td>
        <td>{{course.dateTo}}</td>
        <td>{{course.registeredParticipants}}</td>
        <td>{{course.maxParicipantsNumber}}</td>
      </tr>
    </ng-template>
  </p-table>

</div>
