.container {
  margin-top: 8rem;
  padding: 1rem;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transition: background-color 0.3s;
  padding: 2rem;
}

.about:hover {
  background-color: rgba(86, 189, 252, 0.8);
}

.about-left {
  color: white;
  text-align: center;
  width: 45%;
}

.about-right {
  width: 70%;
}

.about-img {
  border-radius: 50%;
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  margin-bottom: 10px;
}

.about-right h1 {
  color: white;
  font-size: xx-large;
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.about-right p {
  color: white;
  width: 75%;
  margin-left: 0;
  margin-bottom: 20px;
}

.content h1 {
  color: var(--dark-blue);
  font-size: 2rem;
}

.content p {
  color: #333;
  line-height: 1.6;
}

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.contact-text h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.contact-label {
  min-width: 10rem;
}

.contact-value {
  background-color: var(--blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 8px;
  min-width: 20rem;
  min-height: 3.5rem;
  text-align: center;
}

.contact-value a {
  font-size: x-large;
  font-weight: 500;
  color: white;
  text-decoration: none;
  display: block; /* Rozciąga link na całą szerokość kontenera dla wyśrodkowania */
  width: 100%;
}

@media (max-width: 768px) {
  .about-img {
    width: 15vh;
    height: 15vh;
  }
  .about-right h1 {
    font-size: large;
  }
  .about-left h2 {
    font-size: large;
  }
  .contact-item {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-value {
    margin-top: 5px;
    width: 100%;
  }
}
