<div class="container">
  <div class="content">
    <div class="about">
      <div class="about-left">
        <img src="assets/images/client/overlay/avatars/avatar-2.png" alt="Avatar" class="about-img" />
        <h2>Hubert Wróblewski-Klimaszewski</h2>
      </div>
      <div class="about-right">
        <h1>Water Adventure</h1>
        <p>Firma Water Adventure istnieje od 2018 roku, gdzie żeglujemy głównie w okolicach Trójmiasta oraz w Olecku (województwo Warmińsko-Mazurskie). Nasza flota to kilkanaście nowoczesnych statków oraz dwa skutery wodne o mocy 250KM. Na dzień dzisiejszy skupiamy się na wysokiej zdawalności z podanych na stronie kursów oraz dostarczeniu niesamowitej rozrywki w postaci organizowanych eventów. Zapraszam do skorzystania z oferty oraz kontaktu w razie pytań.</p>
      </div>
    </div>
  </div>
  <div class="contact-section">
    <div class="contact-text">
      <h2>Zadaj nam pytanie</h2>
      <div class="contact-item">
        <span class="contact-label">E-mail</span>
        <div class="contact-value">
          <a href="mailto:kontakt@wadventure.pl">kontakt@wadventure.pl</a>
        </div>
      </div>
      <div class="contact-item">
        <span class="contact-label">Telefon komórkowy</span>
        <div class="contact-value">
          <a href="tel:+48881911532">+48 881 911 532</a>
        </div>
      </div>
    </div>
  </div>
</div>
