<footer class="footer">
  <div *ngIf="isHomepage()" class="footer-top">
    <a href="#" class="scroll-to-top">
      <i class="pi pi-chevron-up"></i> Wróć na górę
    </a>
  </div>
  <div class="footer-content">
    <div class="footer-section">
      <h3>DANE KONTAKTOWE</h3>
      <address>
        <strong>Sopot</strong><br>
        Plac Zdrojowy 2<br>
        <strong>Olecko</strong><br>
        Przystań LOK Sembrzyckiego 18B<br>
      </address>
      <p>
        <strong>Telefon:</strong> 881 911 532<br>
        <strong>Email:</strong> wadventure@gmail.com
      </p>
      <div class="social-icons">
        <a href="https://www.facebook.com/WaterAdventurePL" target="_blank">
          <i class="pi pi-facebook"></i>
        </a>
        <a href="https://www.instagram.com/water.adventure/" target="_blank">
          <i class="pi pi-instagram"></i>
        </a>
        <a href="https://www.premiumyachting.pl/" target="_blank">
          <i class="fa fa-anchor"></i>
        </a>
      </div>
    </div>
    <div class="footer-section">
      <img src="assets/logos/LOGO-FULL-FOOTER.png" alt="Water Adventure Logo" class="footer-logo" />
    </div>
    <div class="footer-section maps-section">
      <div class="map">
        <h3>Olecko</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2342.7394652336548!2d22.5023396!3d54.0428897!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e1a731582e3b0f%3A0x772ab41b7622dd7b!2zUHJ6eXN0YcWEICJMT0si!5e0!3m2!1spl!2spl!4v1702558770911!5m2!1spl!2spl"
          width="260"
          height="240"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>
      <div class="map">
        <h3>Sopot</h3>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2319.8369148729194!2d18.574323177119656!3d54.4481653917152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46fd0a8c847e12db%3A0xa41f2699384f95f!2sPlac%20Zdrojowy%202%2C%2081-718%20Sopot!5e0!3m2!1spl!2spl!4v1702560319932!5m2!1spl!2spl"
          width="260"
          height="240"
          style="border:0;"
          allowfullscreen=""
          loading="lazy">
        </iframe>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <span class="footer-bottom-left">Żeglarstwo to przede wszystkim ludzie, z którymi dzielimy się pasją</span>
    <span class="footer-bottom-right">Copyright Water Adventure © 2023</span>
  </div>
</footer>
