.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.site {
  position: absolute;
  left: 75px;
  height: inherit;
  width: auto;
}

@media (max-width: 770px) {
  .site {
    left: 0;
    width: 100vw;
  }
}
