<div class="register-page-container">
  <div class="register-form-container">
    <div class="register-logo">
      <img src="../../../assets/logos/LOGO-FULL.png" alt="Water Adventure Logo"/>
    </div>
    <div class="register-form">
      <h2>Rejestracja</h2>
      <form [formGroup]="formGroup">
        <mat-form-field appearance="outline">
          <mat-label>Imię</mat-label>
          <input matInput placeholder="Wprowadź imie" type="firstName" [formControl]="formGroup.controls.firstName" required>
          <mat-error *ngIf="formGroup.controls.firstName.invalid">{{ formService.getInputErrorMessage(formGroup.controls.firstName) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Nazwisko</mat-label>
          <input matInput placeholder="Wprowadź nazwisko" type="firstName" [formControl]="formGroup.controls.lastName" required>
          <mat-error *ngIf="formGroup.controls.lastName.invalid">{{ formService.getInputErrorMessage(formGroup.controls.lastName) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Wprowadź e-mail" type="email" [formControl]="formGroup.controls.email" required>
          <mat-error *ngIf="formGroup.controls.email.invalid">{{ formService.getInputErrorMessage(formGroup.controls.email) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput placeholder="Wprowadź hasło" [type]="passwordHide ? 'password' : 'text'" [formControl]="formGroup.controls.password" required>
          <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
            <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.controls.password.invalid">{{ formService.getInputErrorMessage(formGroup.controls.password) }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Powtórz hasło</mat-label>
          <input matInput placeholder="Wprowadź ponownie hasło" [type]="passwordHide ? 'password' : 'text'" [formControl]="formGroup.controls.passwordRepeat" required>
          <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
            <mat-icon>{{ passwordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="formGroup.hasError('passwordMismatch') && (formGroup.get('passwordRepeat')?.dirty || formGroup.get('passwordRepeat')?.touched)">Hasła muszą być takie same!</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Numer telefonu</mat-label>
          <input matInput placeholder="Wprowadź nr. telefonu" type="phoneNumber" [maxlength]="9" [formControl]="formGroup.controls.phoneNumber" required>
          <mat-error *ngIf="formGroup.controls.phoneNumber.invalid">{{ formService.getInputErrorMessage(formGroup.controls.phoneNumber) }}</mat-error>
        </mat-form-field>

        <div class="register-link-container">
          <span>Masz już konto?</span>
          <a href="/autoryzacja/logowanie" class="register-link">Zaloguj się</a>
        </div>
        <button mat-raised-button color="primary" class="register-button" (click)="register()">Zarejestruj się</button>

      </form>
    </div>
    <div class="register-bottom">
      <a href="/" class="back-to-home-link">
        <i class="pi pi-angle-left"></i> Powrót do strony głównej
      </a>
    </div>
  </div>
  <div class="register-image-container">
    <img src="../../../assets/images/client/additional/register-panel.png" alt="register Wallpaper" class="register-wallpaper" />
  </div>
</div>
