
<div class="sidebar">

  <p-button (click)="changeIsExtended()" icon="pi pi-arrow-right"></p-button>

  <text-icon [text]="'Pytania'" [iconClass]="'pi pi-comments'"></text-icon>

  <text-icon [text]="'Kursy'" [iconClass]="'pi pi-check-square'"></text-icon>

  <text-icon [text]="'Eventy'" [iconClass]="'pi pi-ticket'"></text-icon>

  <text-icon [text]="'Zaliczenia'" [iconClass]="'pi pi-book'"></text-icon>
  <!--Eksport-->
  <text-icon [text]="'Dostępy'" [iconClass]="'pi pi-plus-circle'"></text-icon>

  <text-icon [text]="'Kalendarz'" [iconClass]="'pi pi-calendar'"></text-icon>

  <p-divider></p-divider>

  <text-icon [text]="'Wyloguj'" [iconClass]="'pi pi-sign-out'"></text-icon>

</div>
