
<div class="sidebar" [style.width]="getNavBarWidth()">

  <div class="content">

    <div class="first-section">

      <button (click)="changeIsExtended()"
              type="button"
              class="btn btn-outline-primary rounded-circle">
        <i class="{{getIconClass()}}"></i>
      </button>

    </div>

    <div class="middle-section">

      <a [routerLink]="'/admin/questions'" (click)="doNothing()">
      <text-icon [text]="'Pytania'" [iconClass]="'pi pi-comments'" [textVisible]="isExtended"></text-icon>
      </a>

      <a [routerLink]="'/admin/courses'">
      <text-icon [text]="'Kursy'" [iconClass]="'pi pi-check-square'" [textVisible]="isExtended"></text-icon>
      </a>

      <a [routerLink]="'/admin/events'">
      <text-icon [text]="'Eventy'" [iconClass]="'pi pi-ticket'" [textVisible]="isExtended"></text-icon>
      </a>

      <a [routerLink]="'/admin/passing'">
      <text-icon [text]="'Zaliczenia'" [iconClass]="'pi pi-book'" [textVisible]="isExtended"></text-icon>
      </a>

      <a [routerLink]="'/admin/accesses'">
      <text-icon [text]="'Dostępy'" [iconClass]="'pi pi-plus-circle'" [textVisible]="isExtended"></text-icon>
      </a>

      <a [routerLink]="'/admin/calendar'">
      <text-icon [text]="'Kalendarz'" [iconClass]="'pi pi-calendar'" [textVisible]="isExtended"></text-icon>
      </a>

    </div>

    <div class="last-section">
      <p-divider></p-divider>

      <text-icon [text]="'Wyloguj'" [iconClass]="'pi pi-sign-out'" [textVisible]="isExtended"></text-icon>
    </div>


  </div>

</div>
